### Process

To get totals for cases of measles for each country in the WHO data for 2018 and 2019 from excel doc 'measlesreportedcasesbycountry.xls'

In [1]:
import pandas as pd

### Load in the data

We just want 2 "ISO country code", 3 "Total confirmed  measles cases 2019" and 15 "Total confirmed  measles cases 2018".
We can skip the first 3 rows and the last 19 rows as these are just excel formatting.

In [8]:
cols = ["code","2019","2018"]
DF = pd.read_excel(
    '../raw_data/cases/measlesreportedcasesbycountry.xls',
    skiprows=3,
    usecols=[2,4,15],
    names=cols,
    skipfooter=19
)

In [9]:
DF.head()

  code    2019    2018
0  DZA     NaN   287.0
1  AGO  2864.0    57.0
2  BEN   508.0   886.0
3  BWA     0.0     2.0
4  BFA   689.0  1682.0

In [10]:
DF.tail()

    code    2019    2018
189  SLB     0.0     0.0
190  TON     0.0     0.0
191  TUV     0.0     0.0
192  VUT     NaN     NaN
193  VNM  3653.0  2766.0

In [11]:
DF[DF["code"] == "USA"]

   code    2019   2018
79  USA  1095.0  372.0

**Export to CSV**

In [12]:
DF.to_csv('../raw_data/cases/cases-2018-2019.csv', index=False, encoding='utf-8')